.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Начальная непрозрачность */
    visibility: hidden; /* Скрываем элемент */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Плавный переход */
}

.modal-overlay.open {
    opacity: 1; /* Полная непрозрачность при открытии */
    visibility: visible; /* Показываем элемент */
}

.modal-content {
    background-color: black;
    border: 3px solid white;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px; /* Максимальная ширина модального окна */
    max-height: 80vh; /* Максимальная высота модального окна */
    overflow-y: auto; /* Включаем вертикальную прокрутку */
}

.close-button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.close-button:hover {
    color: grey;
    font-size: 45px;
}

@media (max-width: 480px) {
    .modal-overlay {
        top: -100px;
        left: 0;
        right: 600px;
        bottom: 0;
    }
    .modal-content {
        width: 400px;
    }
}
