.charactersListMainContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(5, 242px);
}

.character {
    transition: background-color 0.3s, transform 0.2s;
    a {
        text-decoration: none;
        color: yellow;
    }
}

.character:hover {
    transform: scale(1.1);
    text-decoration: underline;
}
