.equipAddMain {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.equipAddContainer {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(5, 212px);
    text-align: center;
    .deleteButton {
        margin-top: 20px;
        width: 60px;
        height: 40px;
        background-color: crimson;
        color: white;
        border: darkred solid 1px;
        border-radius: 15px;
        transition: background-color 0.3s, transform 0.2s;
    }
    .deleteButton:hover {
        transform: scale(1.1);
    }
    h1 {
        font-size: 25px;
    }
}

.equipAdd {
    img {
        width: 150px;
        height: 150px;
    }
}

.equipAddDamage {
    display: flex;
    margin-left: 50px;
    img {
        margin-right: 20px;
        margin-top: 10px;
        width: 50px;
        height: 50px;
    }
}

.requirementsMainTitle {
    h1 {
        color: white;
    }
}

.requirementsMain {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    margin-left: 38px;
    img {
        width: 40px;
        height: 40px;
    }
}
