.mainAddBoses {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.addBosessContanier {
    display: grid;
    grid-template-columns: repeat(3, 262px);

    img {
        width: 200px;
        height: 200px;
        border: 5px solid white;
        border-radius: 50%;
        transition: background-color 0.3s, transform 0.2s;
    }

    img:hover {
        transform: scale(1.1);
    }

    a {
        color: yellow;
        text-decoration: none;
    }

    a:hover {
        color: gold;
        text-decoration: underline;
    }

    text-align: center;
}

@media (max-width: 480px) {
    .addBosessContanier {
        display: grid;
        grid-template-columns: repeat(3, 112px);

        img {
            width: 100px;
            height: 100px;
            transition: background-color 0.3s, transform 0.2s;
        }
    }
}
